.singlePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
  height: 15%;
  width: 80%;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  .blogTitle {
    text-transform: capitalize;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .blogBody {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.singlePost:hover {
  transform: scale(1.1);
}
