.main-nav {
  height: 3rem;
  background-color: rgb(200, 255, 0);
  margin-bottom: 0.5rem;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    height: 100%;
  }
  ul .loginSignUpContainer {
    display: none;
  }
}

// loginSignupContainer should be hidden in mobile view
