$violet: #6e70cb;
$dark-blue: #5390d9;
$light-blue: #56cfe1;
$blue-green: #72efdd;

.anchorLink {
  text-decoration: none;
  color: black;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
}

// mobile
.main-nav {
  height: 3rem;
  background-color: $blue-green;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    height: 100%;
  }
  .loginSignUpContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $violet;
    left: 15%;
    width: 70%;
    top: -25%;
    height: 25%;
    z-index: 1;
    border-radius: 0.5rem;
  }
  .auth-link {
    display: flex;
    padding: 0.25rem 0.75rem;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    color: white;
    border: 2px solid white;
    border-radius: 0.5rem;
  }
  .openModalOverlay {
    position: fixed;
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .openModal {
    transform: translateY(150%);
    transition: transform 0.75s;
  }
  .closeModal {
    transform: translateY(-150%);
    transition: transform 0.75s;
  }
  .closeModalButton {
    margin-top: 0.5rem;
    color: white;
    font-size: 2rem;
  }
  .homepage-link {
    font-size: 1.5rem;
  }
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(3px);
  }
}

// tablet
@media (min-width: 765px) {
  .main-nav {
    .loginSignUpContainer {
      display: flex;
      flex-direction: row;
      position: static;
      background-color: transparent;
      left: 0;
      width: auto;
      top: 0;
      height: auto;
    }
    .auth-link {
      padding: 0.25rem 0.5rem;
      margin: 0 0.25rem;
      border: 1px solid black;
      color: black;
      border-radius: 0.5rem;
    }
    .modalOverlay {
      display: none;
    }
    .closeModal {
      transform: translateY(0);
    }
    .closeModalButton {
      display: none;
    }
    .hamburger-menu {
      display: none;
    }
  }
}
// loginSignupContainer should be hidden in mobile view
